body{
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 1px;
    word-spacing: 4px;
    margin: 0;
}

h1{
    font-size: 50px;
    font-weight: 800;
    padding-bottom: 15px;
    margin-left: 5%;
    padding: 2%;
}
h3{
    font-size: 40px;
    font-weight: 700;
    margin-left: 5%;
    padding: 2%;
}
.namestyle{
    color: orange;
}
h4{
    font-size: 30px;
    margin-left: 5%;
    padding: 2%;

}
.first-p{
    width: 50%;
    text-align: justify;
    margin-left: 5%;
    padding: 2%;
}
.half-width{
    width: 40%;
    float: left;
}
.half-width1{
    width: 50%;
    float: right;
    padding-right: 30px;
}
.top-banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
section{
    height: 500px;
    margin-bottom: 150px;
}
.button-link{
    text-decoration: none;
    margin-left: 7%;
    padding: 2%;
    background-image: linear-gradient(lightSalmon ,tomato);
    color: white;
    font-weight: 700;
}
.half-width4{
    width: 40%;
    float: right;
}
.half-width3{
    width: 50%;
    float: left;
    padding-left: 40px;
}
.half-width4{
    background-image: url("images/dream-bg.png");
    background-position: right;
    background-repeat: no-repeat;
}
h1.experience{
    font-size: 50px;
    margin-left: 0;
    padding: 3%;

}
h3.box-experiece{
    padding: 0;
}
h4.namestyle{
    padding: 0;
}
.new-p{
    width: 100%;
    text-align: inherit;
    margin-left: 5%;
}
.new-p1{
    width: 90%;
    text-align: inherit;
    margin-left: 5%;
}